<div id="top-bg"></div>
<div class='section-container'>
    <div class="title">Duncan Gichimu</div>
    <div class="section">
        {{ sampleContent.about }}
    </div>
</div>

<div class="title">
    Exprerience
</div>
<div class="experience-container">
    
      <div class="app-card">
        <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="company" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="header-image m-24">
                    <img src="/assets/logos/bigspoollogo.png" />
                </div>
                <div class="company-title"> Bigspool LLC </div>
            </div>
            <div class="job-title">Operations And Automations Manager</div>
        </div>
        <mat-divider class="content-divider"></mat-divider>
        <div class="m-16 p-16 pt-0 line-height-1.75">
            <blockquote class="company-description">
                    BigSpool is an ecommerce startup that uses rapid manufacturing to create thousands of products at scale to meet untapped marketplace demand. My role was to automate and help scale the business from early stage to growth stage. 
            </blockquote>
            <span class="mat-headline">Develop Automation Tools</span>
            <ul>
                <li>Automated product design process by building an Adobe Extension
                    <ul>
                        <li>Tools: Angular, Javascript, ExtendScript, Adobe CEP</li>
                    </ul>
                </li>
                <li>Developed two automated order fulfillment solutions for BigSpool’s rapid manufacturing factory
                    <ul>
                        <li>Tools: Angular, Django Rest, PostgresDB</li>
                    </ul>
                </li>
                <li>Integrated with 3rd party APIs to automate order fulfillment
                    <ul>
                        <li>Tools: Django, Celery, AWS Lamba, EC2, MySQL</li>
                    </ul>
                </li>
            </ul>
            <span class="mat-headline">Accomplishments</span>
            <ul>
                <li>Enabled rapid product development of over 300,000</li>
                <li>Increased operational and manufacturing efficiency by 4X </li>
                <li>Reduced manufacturing error rate to near zero</li>
            </ul>
        </div>        
</div>
<mat-toolbar class="header-toolbar" color="accent">Skills</mat-toolbar>
<div class="skill-container">
    <div *ngFor="let skillType of sampleContent.skills.keys" class="app-card">
        <div style="margin-top:8px;" class="mat-headline p-8" fxLayout="row" fxLayoutAlign="start center">
            <h2 style="text-transform:capitalize;">{{skillType}}</h2>
        </div>
        <mat-divider class="content-divider"></mat-divider>
        <div class="m-16 p-16 pt-0 line-height-1.75" fxLayout="row" fxLayoutWrap>
            <div class="m-32" fxLayout="column" fxLayoutAlign="center center"
                *ngFor="let skill of sampleContent.skills[skillType]">
                <img height="90px" class="logo" src="{{skill.logo}}" />
                <span>{{skill.text}}</span>
            </div>
        </div>
    </div>
</div>
<mat-toolbar class="header-toolbar" color="accent">Education</mat-toolbar>
<div class="app-card p-32">
    <div style="margin-top:8px;" class="mat-headline p-8">
        <h2>Towson University <span style="display:inline;font-size:12px;color:#6e6e6e"> Towson, MD | 2014 - 2016</span></h2> 
        <div class="secondary-text">Bachelor of Science, Mathematics and Economics</div>
    </div>
    <ul>
        <li>Overall GPA: 3.8  | Cum Laude Honors</li>
        <li>Relevant Coursework: 
            <ul>
                <li>Stochastic Probability Models </li>
                <li>Statistics</li>
                <li>Combinatorial Optimization</li>
                <li>Mathematical Finance</li>
                <li>Linear Algebra</li>
                <li>Real Analysis</li>
            </ul>
        </li>
    </ul>
    <div class="secondary-text">Research and Publications</div>
    <ul>
        <li>
            <a href="http://scholar.rose-hulman.edu/rhumj/vol18/iss1/5/">Giuga’s Primality Conjecture for Number Fields </a>
            <ul>
                <li>SUAMI | Carnegie Mellon University | 2015</li>
            </ul>
        </li>
        <li>Particle Storm Optimization Method for Automated Model Baselining
            <ul>
                <li>Applied Mathematics Laboratory | Towson University | 2015</li>
            </ul>
        </li>
    </ul>
</div>
<div class="contant">
</div>