:host{
    #top-bg {
        background-image: url("/assets/backgrounds/landing.png");
        background-size: cover;
        min-height:100vh;
    }

    .section-container {

        .title{
            height: 200px;
            font-size: 150px;
            text-align: center;
            margin-top: -115px;
        }

        .section {
            background-color:rgba(245, 49, 49, 0.8);
            opacity: 0.9;
            font-size: 30px;
            padding: 50px 30px 130px 30px;
        }
    }
    #name {
        font-size: 150px;
        text-align: center;
        width: 100%;
        height: 200px;
        background-color:rgba(0, 0, 0, 0.2);;
        color: #ffffff;
        opacity: 0.9;
        margin-top: -115px;
    }

    .section {
        background-color:rgba(0, 0, 0, 0.2);
        opacity: 0.9;
        font-size: 30px;
        padding: 50px 30px 130px 30px;
    }



    .experience-container {
        width: 100%;
        background-color: #eceaea;
    }

    .app-card {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;

        .company {
            width: 300px;

            .header-image {
                img {
                    height: 70px;
                    width: 70px;
                }
            }

            .company-title {
                font-size: 24px;
            }
        }

        .job-title {
            font-size: 24px;
        }

        .content-divider {
            width: 97%;
            margin: 0 auto;
        }

        .company-description {
            color: #747474;
            font-size: 15px;
        }
    }

    .header-toolbar {
        font-size: 50px;
        height: 100px;
    }
}