<div id="main-wrapper">
    <div id="main-content">
        <div id="top-of-page"></div>

        <!-- Loading Progress Bar -->
        <div *ngIf="isFetching" class="progress-bar-container">
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
        </div>

        <!-- NAVBAR: Top -->
        <app-navbar layout="horizontal"
                    class="top-navbar" fxHide fxShow.gt-md
                    [ngClass]="appSettings.colorClasses.navbar"
                    *ngIf="appSettings.layout.navigation === 'top'">
        </app-navbar>
        <!-- / NAVBAR: Top -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <app-sidebar [name]="'navbar'"
                        [folded]="appSettings.layout.navigationFolded"
                        [lockedOpen]="'gt-md'"
                        class="left-navbar" [ngClass]="appSettings.colorClasses.navbar"
                        *ngIf="appSettings.layout.navigation === 'left' || appSettings.layout.navigation === 'top'">
            <app-navbar layout="vertical"></app-navbar>
            </app-sidebar>
            <!-- / NAVBAR: Left -->

                <!-- NAVBAR: Right -->
            <app-sidebar [name]="'navbar'" [align]="'right'"
                            [folded]="appSettings.layout.navigationFolded"
                            [lockedOpen]="'gt-md'"
                            class="right-navbar" [ngClass]="appSettings.colorClasses.navbar"
                            *ngIf="appSettings.layout.navigation === 'right'">
                <app-navbar layout="vertical"></app-navbar>
            </app-sidebar>
            <!-- / NAVBAR: Right -->
            
            <div class="content-wrapper">
                <!-- TOOLBAR -->
                <app-toolbar fxHide.gt-md></app-toolbar>
                <!-- / TOOLBAR -->
                
                <!-- CONTENT -->
                <app-content></app-content>
                <!-- CONTENT -->

                <!-- FOOTER: Below -->
                <ng-container *ngIf="appSettings.layout.footer === 'below'">
                    <app-footer class="below" [ngClass]="appSettings.colorClasses.footer"></app-footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

        </div>
    </div>
</div>